<!DOCTYPE html>
<html>
<head>
  <title>Rails admin image manager</title>
  <%= stylesheet_link_tag    "rails_admin_image_manager/application", media: "all" %>
  <%= javascript_include_tag "rails_admin_image_manager/application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <script type="text/javascript">
    window.AJAX_ENDPOINT = "<%= image_manager_index_path %>"
  </script>
<div id="vue-image-manager" data-default-path="<%= images_path %>"
  <%== (params["CKEditor"].present?) ? "ck-id=\"#{params["CKEditor"]}\" ck-fn=\"#{params["CKEditorFuncNum"]}\"" : '' %>
  <%== (params["selectImage"].present?) ? " ck-selected-image-id=\"#{params["selectImage"]}\"" : '' %>
  >
  <%= yield %>
  <image-insert-overlay/>
</div>

</body>
</html>
